@import url(kozos.css);
.card {

    max-width: 960px;
}

.card-holder {
    width: 280px;
    height: 380px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    height: 20%;
    align-items: baseline;
}

img{
    width: 100%;
}

h3{
    text-align: center;
    font-size: 22px;
}

p{
    font-size: 12px;
    text-align: center;
}