@import url(kozos.css);


.card-holder {
    width: 280px;
    height: 480px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}
article{
    width: 100%;
}
article{
    flex: 0 0 100%;
}
#rendezes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
}
img{
    width: 100%;
}

h3{
    text-align: center;
    font-size: 22px;
}

p{
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1000px){
    li{
       
       padding-left: 120px;
    }
    nav{
        flex: 0 0 100%;
    }
    main{
        width: 100%;
        max-width: 1000px;
        flex-direction: column;
    }
    article{
        flex-direction: column;
        align-content: space-around;
        align-items: space-around;
    }
}
@media (max-width: 500px){
    li{
       padding-top: 20px;
       padding-bottom:20px;
    }
    nav{
        flex: 0 0 100%;
    }
    main{
        width: 100%;
        max-width: 1000px;
        flex-direction: column;
    }
}