@import url(kozos.css);

article{
    flex: 0 0 100%;
}
legend{
    padding: 10px;
}
fieldset{
    padding: 20px;
}
input{
    padding: 5px;
}
.terulet{
    padding: 30px;
}
.kozepre{
    text-align: center;
}
.meretezes{
    width: 550px;
}
@media (max-width: 800px){
    li{
        padding: 0;
    }
    nav{
        flex: 0 0 100%;
    }
    main{
        width: 100%;
        max-width: 1000px;
    }
}